.section-register {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80vh;
  min-height: 850px;
  flex-direction: column;
  background: rgba(255, 255, 255, 1);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(0px);
  -webkit-backdrop-filter: blur(0px);
  margin: 5rem 0;
}

.button-row {
  display: flex;
  justify-content: center;
}

.button-row input {
  width: 100%;
  max-width: 250px;
}
